@tailwind base;
@tailwind components;
@tailwind utilities;


/*  route.meta.transition  */
.route-next-enter-from {
    opacity: 0;
    transform: translateX(50vw);
}

.route-next-enter-active {
    transition: all 200ms ease-in-out;
    z-index: 100;
}

.route-next-leave-to {
    opacity: 0;
    transform: translateX(-50vw);
}
.route-next-leave-to,
.route-next-leave-from,
.route-next-leave-active {
    transition: all 200ms ease-in;
}

.route-next-leave-active .fab-btns {
    opacity: 0;
}






.route-back-enter-from {
    opacity: 0;
}
.route-back-enter-to {
/*    opacity: 1;*/
/*    transform: translateX(-100px);*/
}

.route-back-enter-active {
/*    transition: all 100ms ease-in-out;*/
/*    z-index: 99;*/
}

.route-back-leave-to {
    opacity: 0;
    transform: translateX(50vw);
}

.route-back-leave-to,
.route-back-leave-from,
.route-back-leave-active {
    z-index: 100;
    transition: all 200ms ease-in-out;
}



.v-enter-active,
.v-leave-active {
    transition: opacity 200ms ease;
}

.v-enter-from,
.v-leave-to {
    opacity: 0;
}
.v-enter-from {transform: translateY(40px);}
.v-leave-to {transform: translateY(-40px);}


.app-header {z-index:5;}
.fab-btn {z-index:50;right:2rem;bottom:2rem;}
